.navbar {
  width: 100%;
  background: #2c3e50;
  color: white;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.logout-btn {
  background: #e74c3c;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #c0392b;
}

.brand {
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-size: 20px;
}



.centered-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-box input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-box button {
  padding: 10px;
  background: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-box button:hover {
  background: #2980b9;
}

.redirect-text {
  text-align: center;
  margin-top: 15px;
}



.task-list {
  margin-top:20px;
  padding-left:20px;
}

.task-list li {
  margin-bottom:10px;
  padding:10px;
  background:#f2f2f2;
  border-radius:5px;
}
